#!/usr/bin/env ruby

compile '/stylesheet/.*' do
  # dont filter/layout
end
compile '/normalize/.*' do
  # dont filter/layout
end

compile '/**/*.{md,html}' do
  filter :erb
  filter :kramdown
  layout '/default.*'
  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext + '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

route '/stylesheet.*' do
  # dont filter/layout
end
route '/normalize.*' do
  # dont filter/layout
end
route '/**/*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.without_ext + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
